In [1]:
!pip install pandas
!pip install -U numpy
import numpy as np
import pandas as pd
import json

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already up-to-date: numpy in /opt/conda/lib/python3.7/site-packages (1.20.1)

In [2]:
df_b = pd.read_json('Yelp Data/yelp_academic_dataset_business.json', lines=True)

In [3]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [4]:
#Keeping businesses that are still open in the dataset
df_b = df_b[df_b['is_open']==1]

In [5]:
#Dropping irrelevent Columns
drop_columns = ['hours','is_open','review_count']
df_b = df_b.drop(drop_columns, axis=1)

In [6]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,..."
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,None,"Pets, Pet Services, Pet Groomers"
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma..."
5,cKyLV5oWZJ2NudWgqs8VZw,Oasis Auto Center - Gilbert,"1720 W Elliot Rd, Ste 105",Gilbert,AZ,85233,33.350399,-111.827142,4.5,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Automotive, Oil Change Stations, ..."

In [7]:
#Checking how many categories of business & seperating them
df_explode = df_b.assign(categories = df_b.categories.str.split(', ')).explode('categories')

In [8]:
df_explode.categories.value_counts()

Restaurants             43965
Shopping                28480
Food                    24844
Home Services           20653
Health & Medical        17626
                        ...
Sport Equipment Hire        1
Market Stalls               1
Christmas Markets           1
Court Reporters             1
Linens                      1
Name: categories, Length: 1324, dtype: int64

In [9]:
df_explode[df_explode.categories.str.contains('Restaurants',
                      case=True,na=False)].categories.value_counts()

Restaurants           43965
Pop-Up Restaurants       16
Name: categories, dtype: int64

In [10]:
bus_Res = df_b[df_b['categories'].str.contains('Restaurants',case=False, na=False)]
bus_Tor_Res= bus_Res[bus_Res['city'].str.contains('Toronto',case=False, na=False)]
bus_Tor_Res.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories
73,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants"
110,8k62wYhDVq1-652YbJi5eg,Tim Hortons,90 Adelaide Street W,Toronto,ON,M5H 3V9,43.649859,-79.382060,3.0,"{'OutdoorSeating': 'False', 'RestaurantsDelive...","Bagels, Donuts, Food, Cafes, Coffee & Tea, Res..."
149,0DnQh8SE8BSnvJltGCCiWg,Chick-N-Joy,3-1265 York Mills Road,Toronto,ON,M3A 1Z3,43.765279,-79.326248,3.0,"{'NoiseLevel': ''loud'', 'BusinessParking': '{...","Fast Food, Restaurants, Chicken Shop"
150,NLaK58WvlNQdUunSIkt-jA,Zav Coffee Shop & Gallery,2048 Danforth Avenue,Toronto,ON,M4C 1J6,43.685608,-79.313936,4.5,"{'DogsAllowed': 'False', 'OutdoorSeating': 'Tr...","Coffee & Tea, Restaurants, Sandwiches, Food"
161,cicPsia8Wj-DNRkmLbD_xg,The Keg Steakhouse + Bar,2201 Yonge Street,Toronto,ON,M4S 2B2,43.705843,-79.397841,3.5,"{'GoodForKids': 'True', 'RestaurantsGoodForGro...","Steakhouses, Restaurants, Nightlife, Seafood, ..."

In [11]:
#df_r=pd.read_json('Yelp Data/yelp_academic_dataset_review.json', lines=True)
#chunks = pd.read_json('Yelp Data/yelp_academic_dataset_review.json', lines=True, chunksize = 100000)
#Identifying the data type of each column can reduce memory usage.
#Luckily, Yelp provided documentation for their dataset so we can set the data type of each column.
#Here, the chunk size of 1,000,000 means Pandas will be reading 1,000,000 lines each time. In this dataset of review.json, there are more than 6 million reviews (rows). Reducing the chunk size might be easier to load and check the results faster.
df_r='Yelp Data/yelp_academic_dataset_review.json'
size=100000
review=pd.read_json(df_r, lines=True,
                      dtype={'review_id':str,'user_id':str,
                              'business_id':str,'stars':int,
                             'date':str,'text':str,'useful':int,
                             'funny':int,'cool':int}, chunksize=size)
# There are multiple chunks to be read
chunk_list = []
for chunk_review in review:
    # Drop columns that aren't needed
    chunk_review = chunk_review.drop(['review_id','useful','funny','cool'], axis=1)
    # Renaming column name to avoid conflict with business overall star rating
    chunk_review = chunk_review.rename(columns={'stars': 'review_stars'})
    # Inner merge with edited business file so only reviews related to the business remain
    chunk_merged = pd.merge(bus_Tor_Res, chunk_review, on='business_id', how='inner')
    # Show feedback on progress
    print(f"{chunk_merged.shape[0]} out of {size:,} related reviews")
    chunk_list.append(chunk_merged)
# After trimming down the review file, concatenate all relevant data back to one dataframe
df = pd.concat(chunk_list, ignore_index=True, join='outer', axis=0)

3896 out of 100,000 related reviews
3879 out of 100,000 related reviews
3771 out of 100,000 related reviews
3884 out of 100,000 related reviews
3726 out of 100,000 related reviews
3554 out of 100,000 related reviews
3179 out of 100,000 related reviews
3450 out of 100,000 related reviews
4626 out of 100,000 related reviews
4484 out of 100,000 related reviews
4478 out of 100,000 related reviews
4440 out of 100,000 related reviews
4377 out of 100,000 related reviews
4178 out of 100,000 related reviews
3896 out of 100,000 related reviews
3961 out of 100,000 related reviews
4507 out of 100,000 related reviews
4410 out of 100,000 related reviews
4459 out of 100,000 related reviews
4438 out of 100,000 related reviews
4364 out of 100,000 related reviews
4047 out of 100,000 related reviews
3953 out of 100,000 related reviews
3832 out of 100,000 related reviews
4314 out of 100,000 related reviews
4127 out of 100,000 related reviews
4033 out of 100,000 related reviews
4306 out of 100,000 related reviews
4064 out of 100,000 related reviews
4054 out of 100,000 related reviews
3809 out of 100,000 related reviews
3725 out of 100,000 related reviews
4435 out of 100,000 related reviews
4684 out of 100,000 related reviews
4735 out of 100,000 related reviews
4822 out of 100,000 related reviews
4543 out of 100,000 related reviews
4317 out of 100,000 related reviews
3736 out of 100,000 related reviews
3676 out of 100,000 related reviews
3681 out of 100,000 related reviews
3867 out of 100,000 related reviews
3819 out of 100,000 related reviews
3813 out of 100,000 related reviews
3751 out of 100,000 related reviews
3706 out of 100,000 related reviews
3525 out of 100,000 related reviews
3446 out of 100,000 related reviews
4595 out of 100,000 related reviews
4940 out of 100,000 related reviews
5006 out of 100,000 related reviews
4894 out of 100,000 related reviews
4682 out of 100,000 related reviews
4670 out of 100,000 related reviews
3977 out of 100,000 related reviews
3791 out of 100,000 related reviews
4313 out of 100,000 related reviews
4157 out of 100,000 related reviews
4172 out of 100,000 related reviews
4229 out of 100,000 related reviews
4135 out of 100,000 related reviews
4115 out of 100,000 related reviews
3604 out of 100,000 related reviews
3357 out of 100,000 related reviews
5329 out of 100,000 related reviews
5896 out of 100,000 related reviews
5890 out of 100,000 related reviews
5827 out of 100,000 related reviews
5710 out of 100,000 related reviews
5596 out of 100,000 related reviews
4370 out of 100,000 related reviews
4072 out of 100,000 related reviews
4071 out of 100,000 related reviews
4003 out of 100,000 related reviews
4004 out of 100,000 related reviews
4126 out of 100,000 related reviews
3997 out of 100,000 related reviews
4064 out of 100,000 related reviews
3660 out of 100,000 related reviews
3676 out of 100,000 related reviews
658 out of 100,000 related reviews

In [12]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
0,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants",aAd2DWIgvVLc2TeU8yve9A,5,Delicious delicous declicous!! It is my go-to ...,2017-10-02 02:15:29
1,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants",Zr535e3501Ygs4hO5hO05Q,4,"As a Vietnamese person, I highly recommend thi...",2017-08-16 06:04:43
2,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants",20xtru4h_7TjFn4lSHmSsg,5,Been going to Mi Mi Restaurant for years! I lo...,2017-10-11 02:31:33
3,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants",wh9v2dIpOxm6W2mwoEnvPg,5,Our go-to place for Vietnamese food! This plac...,2016-05-19 17:38:23
4,0QjROMVW9ACKjhSEfHqNCQ,Mi Mi Restaurant,688 Gerrard Street E,Toronto,ON,M4M 1Y3,43.666376,-79.348773,4.0,"{'RestaurantsTakeOut': 'True', 'Alcohol': 'u'b...","Vietnamese, Restaurants",222kqiACWSwnpcxC0AaxFA,5,I honestly think that anyone would enjoy food ...,2015-11-06 04:37:18

In [15]:
csv_name = "yelp_rev_TorRes.csv"
df.to_csv(csv_name, index=False)